# Use the extra index URL for PyTorch's CUDA 12.4 builds
--extra-index-url https://download.pytorch.org/whl/cu124

# Pin the versions for PyTorch and Torchvision
torch==2.5.1
torchvision==0.20.1

# Other dependencies with version constraints
diffusers>=0.32.1
transformers>=4.47.1
einops>=0.7.0
accelerate>=1.2.1
safetensors

# xformers is also available via the PyTorch index
xformers

# The runpod library
runpod~=1.7.12
websocket-client
requests


